body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 0px;
}

.info {
    padding: 50px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    position: relative;
}

.info h2 {
    text-align: center;
}

.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 30%;
    height: auto;
}

.text-container {
    padding: 20px;
}

.image-container .reversed {
    flex-direction: row-reverse;
}

.image-container.reversed img {
    margin-left: auto;
    margin-right: 0;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.titulo {
    text-align: center;
}

.section-header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#tipos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.tipo-animal {
    width: 48%;
    margin-bottom: 20px;
}

.tipo-animal img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

#galeria {
    text-align: center;
}

.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-item {
    width: 30%;
    margin-bottom: 20px;
    overflow: hidden;
}

.galeria-item img {
    width: 50%;
    height: 150px;
    border-radius: 8px;
}